## Verification

Finally, we demonstrate how the zero-knowledge proof that was produced by the credential holder is verified. 

```
cd ../verifier
go run bls-verify credential-proof.json 
```
